<%- model_class = ShippingAddress -%>
<div class="page-header">
  <h1><%=t '.title', :default => ShippingAddress %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:address_1) %></th>
      <th><%= model_class.human_attribute_name(:address_2) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%= model_class.human_attribute_name(:zip) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @shipping_addresses.each do |shipping_address| %>
      <tr>
        <td><%= shipping_address.id %></td>
        <td><%= shipping_address.first_name %></td>
        <td><%= shipping_address.last_name %></td>
        <td><%= shipping_address.address_1 %></td>
        <td><%= shipping_address.address_2 %></td>
        <td><%= shipping_address.city %></td>
        <td><%= shipping_address.state %></td>
        <td><%= shipping_address.country %></td>
        <td><%= shipping_address.zip %></td>
        <td><%= shipping_address.email %></td>
        <td><%= shipping_address.phone %></td>
        <td><%=l shipping_address.created_at, format: :long %></td>
        <td>
          <%= link_to shipping_address_path(shipping_address), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to shipping_address_path(shipping_address), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_shipping_address_path,
            :class => 'btn btn-primary' %>
